@import '../settings';
@import '../common/typography';
@import '../common/colors';
@import '../common/button';
@import '../common/input';

.login {
  width: 420px;
  margin: 100px auto;
  background-color: var(--colorAthensGray);
  border: 2px solid var(--colorMercury);
  border-radius: var(--globalRadius);
  padding: 20px;
}

.login__headline {
  text-align: center;
}

.login__input {
  @apply --input;
}

.login__error-message {
  color: var(--colorCrimson);
  font-size: var(--fontSmall);
}

.login__submit {
  @apply --greenButton;
}
